raw_image_input/*

images
!data/defect/.gitkeep
!data/ok/.gitkeep

230417_Heating and Overheating/*
230503_Hot Run/*
230511_Hot Run 3/*
230517_Consolidated Data/*


data/*

models/*


logs/*

.DS_Store

remove_duplicates.py

.DS_Store

mnist